.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    margin: 0;
    
}

.navbar ul li{
    list-style:none;
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    font-size:20px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0 10px;
}

.navbar ul li a:hover{
    color: red;
    cursor: pointer;
}

.search form{
    display: flex;
    margin: 0 10px;
}

.searchinput{
    width:0;
    transition: width 0.5s ease-in;
    border: 0;
}

.searchinput.active{
    width:150px;
    
    
}

.searchinput:focus{
    outline: none;
}

.searchicon{
    cursor: pointer;
}